In [1]:
import numpy as np
import pandas as pd

In [8]:
pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
40800,40801,06/12/2020,Zacatecas,Mexico,2020-06-13 03:33:14,501.0,55.0,279.0
40801,40802,06/12/2020,Zakarpattia Oblast,Ukraine,2020-06-13 03:33:14,1506.0,38.0,675.0
40802,40803,06/12/2020,Zaporizhia Oblast,Ukraine,2020-06-13 03:33:14,515.0,15.0,322.0
40803,40804,06/12/2020,Zhejiang,Mainland China,2020-06-13 03:33:14,1268.0,1.0,1267.0
40804,40805,06/12/2020,Zhytomyr Oblast,Ukraine,2020-06-13 03:33:14,1013.0,17.0,527.0

# Task 1

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [9]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [10]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [31]:
df["ObservationDate"] = pd.to_datetime(df["ObservationDate"])
df["Last Update"] = pd.to_datetime(df["Last Update"])
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
40800,40801,2020-06-12,Zacatecas,Mexico,2020-06-13 03:33:14,501.0,55.0,279.0
40801,40802,2020-06-12,Zakarpattia Oblast,Ukraine,2020-06-13 03:33:14,1506.0,38.0,675.0
40802,40803,2020-06-12,Zaporizhia Oblast,Ukraine,2020-06-13 03:33:14,515.0,15.0,322.0
40803,40804,2020-06-12,Zhejiang,Mainland China,2020-06-13 03:33:14,1268.0,1.0,1267.0
40804,40805,2020-06-12,Zhytomyr Oblast,Ukraine,2020-06-13 03:33:14,1013.0,17.0,527.0

In [32]:
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

# Task 2

In [38]:
updated_data = df[df["Last Update"] == pd.to_datetime("2020-06-13 03:33:14")]
updated_data

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
40076,40077,2020-06-12,NaN,Afghanistan,2020-06-13 03:33:14,23546.0,446.0,3928.0
40077,40078,2020-06-12,NaN,Albania,2020-06-13 03:33:14,1416.0,36.0,1034.0
40078,40079,2020-06-12,NaN,Algeria,2020-06-13 03:33:14,10698.0,751.0,7322.0
40079,40080,2020-06-12,NaN,Andorra,2020-06-13 03:33:14,853.0,51.0,781.0
40080,40081,2020-06-12,NaN,Angola,2020-06-13 03:33:14,130.0,5.0,42.0
...,...,...,...,...,...,...,...,...
40800,40801,2020-06-12,Zacatecas,Mexico,2020-06-13 03:33:14,501.0,55.0,279.0
40801,40802,2020-06-12,Zakarpattia Oblast,Ukraine,2020-06-13 03:33:14,1506.0,38.0,675.0
40802,40803,2020-06-12,Zaporizhia Oblast,Ukraine,2020-06-13 03:33:14,515.0,15.0,322.0
40803,40804,2020-06-12,Zhejiang,Mainland China,2020-06-13 03:33:14,1268.0,1.0,1267.0
40804,40805,2020-06-12,Zhytomyr Oblast,Ukraine,2020-06-13 03:33:14,1013.0,17.0,527.0

In [39]:
updated_data.count()

SNo                729
ObservationDate    729
Province/State     560
Country/Region     729
Last Update        729
Confirmed          729
Deaths             729
Recovered          729
dtype: int64

# Task 3

In [70]:
top_10 = updated_data.sort_values(by="Confirmed",ascending=False).head(10).loc[:,['Country/Region', 'Confirmed', 'Deaths', 'Recovered']]
top_10

      Country/Region  Confirmed   Deaths  Recovered
40577             US   381714.0  30758.0        0.0
40556         Russia   202935.0   3187.0   118024.0
40131         France   188918.0  29315.0    69578.0
40148           Iran   182525.0   8659.0   144649.0
40233         Turkey   175218.0   4778.0   149102.0
40678         Brazil   167900.0  10368.0    49295.0
40574             US   166164.0  12489.0        0.0
40377             UK   156410.0  37069.0        0.0
40320             US   146659.0   4978.0        0.0
40437             US   131198.0   6260.0        0.0

In [72]:
for item in top_10["Country/Region"].unique():
    print(item)

US
Russia
France
Iran
Turkey
Brazil
UK

In [131]:
top_10.groupby(by="Country/Region").sum().sort_values(by="Confirmed").head(1)

,Confirmed,Deaths,Recovered,Recovered_percentage,Deaths_percentage
Country/Region,,,,,
UK,156410.0,37069.0,0.0,0.0,23.699891

# Task 4

In [126]:
top_10g = top_10.groupby("Country/Region").sum()
top_10g['Recovered_percentage'] = (top_10g["Recovered"] / top_10g["Confirmed"]) * 100
top_10g['Deaths_percentage'] =  (top_10g["Deaths"] / top_10g["Confirmed"]) * 100

In [128]:
top_10g.sort_values(by="Recovered_percentage",ascending = False).head(3)

,Confirmed,Deaths,Recovered,Recovered_percentage,Deaths_percentage
Country/Region,,,,,
Turkey,175218.0,4778.0,149102.0,85.095139,2.726889
Iran,182525.0,8659.0,144649.0,79.248870,4.744008
Russia,202935.0,3187.0,118024.0,58.158524,1.570454